<li class="timeline-entry {{entry-importance}} ">
    <div class="tl-circ {{entry-importance}}" data-toggle="tooltip" title=""></div>
    <div class="timeline-panel">
        <div class="tl-heading">
            <div class="header-icon">
            </div>
            <div class="tl-heading-date">
                <div class="date">
                    <div class="history-year">
                        <strong>
                            1974 GD
                        </strong>
                        {{!-- Get the moon phase image and use it here? --}}
                    </div>
                    <br>
                    <small>
                        <span>
                            <div class="history-day">
                                {{!-- Timeline Day --}}
                                1
                            </div>
                            <div class="history-month">
                                {{!-- Timeline Month --}}
                                /3
                            </div>
                            <div class="history-hour">
                                {{!-- Timeline TOD --}}
                                1:30
                            </div>
                        </span>
                    </small>
                </div>
                <hr>
            </div>
            <h4>Loyer joins the party
                <br>
                {{!-- Timeline entry type --}}
                <i><small>Gathering / Conference</small></i>
            </h4>
        </div>
        <div class="tl-body">
            <div class="history-content">
                {{!-- bring out the timeline entry content here --}}
                <p>A Paladin of Pelor joins the party</p>
            </div>
        </div>
        <div class="timeline-entry buttons">
            {{!-- Hook buttons up to something clickable? Should be in the JS source files --}}
            <a class="entry-btn-edit"><i class="fa fa-feather"></i></a>
            <a class="entry-btn-remove"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</li>