<li class="timeline-entry {{eventClass}} {{invert}} ">
    {{#strEqual eventClass "milestone" }}
    <div class="milestone-panel">
    {{else}}
    <div class="tl-circ {{eventClass}}" data-toggle="tooltip" title=""></div>
    <div class="timeline-panel">
    {{/strEqual }}
        <div class="tl-heading">
            {{#strEqual eventClass "milestone"}}{{else}}<div class="header-icon"> </div>{{/strEqual}}
            <div class="tl-heading-date">
                <div class="date">
                    <div class="history-year">
                        <strong>
                            {{!-- Get the current year and era --}}
                            {{ year }} {{ era_short}}
                        </strong>
                        {{!-- Get the moon phase image and use it here? Maybe --}}
                    </div>
                    <br>
                    <small>
                        <span>
                            <div class="history-day">
                                {{!-- Timeline Day --}}
                                {{ day }}
                            </div>
                            <div class="history-month">
                                {{!-- Timeline Month --}}
                                /{{ month }}
                            </div>
                            <div class="history-hour">
                                {{!-- Timeline TOD --}}
                                {{hours}}:{{minutes}}
                            </div>
                        </span>
                    </small>
                </div>
                <hr>
            </div>
            <h3>
                {{!-- Get the title of the timeline entry --}}
                <b>{{ eventTitle }}</b>
                <br>
                {{!-- Timeline entry type --}}
                <i><small>{{ eventType }}</small></i>
            </h3>
            <hr>
        </div>
        <div class="tl-body">
            <div class="history-content">
                {{!-- get the timeline entry content here --}}
                {{{ htmlDescription }}}
            </div>
        </div>
        {{#if isGm }}
        <div class="timeline-entry buttons">
            {{!-- Hook buttons up to something clickable? Probably should be in the JS source files --}}
            <a class="entry-btn-edit"><i class="fa fa-feather"></i></a>
            <a class="entry-btn-remove"><i class="fa fa-trash"></i></a>
        </div>
        {{/if}}
    </div>
</li>