<li class="timeline-entry {{entry-importance}} {{invert}} ">
    <div class="tl-circ {{entry-importance}}" data-toggle="tooltip" title=""></div>
    <div class="timeline-panel">
        <div class="tl-heading">
            <div class="header-icon">
            </div>
            <div class="tl-heading-date">
                <div class="date">
                    <div class="history-year">
                        <strong>
                            {{!-- Get the current year --}}
                            {{ year }} GD
                        </strong>
                        {{!-- Get the moon phase image and use it here? Maybe --}}
                    </div>
                    <br>
                    <small>
                        <span>
                            <div class="history-day">
                                {{!-- Timeline Day --}}
                                {{ day }}
                            </div>
                            <div class="history-month">
                                {{!-- Timeline Month --}}
                                /{{ month }}
                            </div>
                            <div class="history-hour">
                                {{!-- Timeline TOD --}}
                                {{hours}}:{{minutes}}
                            </div>
                        </span>
                    </small>
                </div>
                <hr>
            </div>
            <h4>
                {{!-- Get the title of the timeline entry --}}
                {{ eventTitle }}
                <br>
                {{!-- Timeline entry type --}}
                <i><small>{{ eventType }}</small></i>
            </h4>
        </div>
        <div class="tl-body">
            <div class="history-content">
                {{!-- get the timeline entry content here --}}
                {{{ htmlDescription }}}
            </div>
        </div>
        <div class="timeline-entry buttons">
            {{!-- Hook buttons up to something clickable? Probably should be in the JS source files --}}
            <a class="entry-btn-edit"><i class="fa fa-feather"></i></a>
            <a class="entry-btn-remove"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</li>