<div class="quest-log bookmarks">
  <nav class="log-tabs tabs bookmarks" data-group="primary">
    {{#each timelines}}
      {{#if (or ../isGm this.playerVisible)}}
        <a class="item" data-tab="{{this.name}}">{{this.shortName}}</a>
      {{/if}}
    {{/each}}
  </nav>
  <section class="log-body tab bookmarks">
    {{#each timelines }}
      {{#if (or ../isGm this.playerVisible)}}
        <div class="tab in-progress" data-group="primary" data-tab="{{this.name}}">
          {{> "modules/foundry-timeline/templates/partials/timeline.html" entries=this.entries era=this.era era_short=this.era_short isGm=this.isGm}}
        </div>
      {{/if}}
    {{/each}}
  </section>
</div>