<form>
    <div class="grid-container">
        <fieldset>
            <label for="title">Title:</label>
            <input type="text" id="giver" name="title" placeholder="Unique Timeline Name"/>
            <label for="era">Era:</label>
            <input type="text" id="era_long" name="era" placeholder="Long-form era name, example: Godless Decline"/>
            <label for="era-initials">Era (short):</label>
            <input type="text" id="era_short" name="era_initials" placeholder="Example: G.D."/>
        </fieldset>
        <fieldset class="tinymce-fieldset">
            <label for="description">Timeline Description:</label>
            {{editor target="description" button=true editable=true}}
        </fieldset>
        <div class="footer">
            <button class="btn" type="submit" name="submit">Create</button>
        </div>
    </div>
</form>
