#forien-quest-log {
  min-width: 500px;
  min-height: 300px;
}

div.quest-log {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: 1px 1px;
  /**
   * Only applies if setting set to Bookmarks.
   * Shows tabs on the left from the window with custom style
   */
}
div.quest-log.classic {
  grid-template-rows: auto minmax(0, 1fr) auto;
}
div.quest-log nav.log-tabs.bookmarks {
  display: block;
  position: absolute;
  left: -120px;
  top: 32px;
  z-index: -10;
}
div.quest-log nav.log-tabs.bookmarks a.item {
  display: block;
  width: 125px;
  height: 32px;
  overflow: hidden;
  text-align: right;
  padding: 7px 15px;
  margin-bottom: 5px;
  border: 1px solid #333;
  background: url("/ui/parchment.jpg") repeat;
  box-shadow: inset 0 0 0 2000px rgba(133, 133, 133, 0.1);
}
div.quest-log nav.log-tabs.bookmarks a.item.active {
  border: 2px solid #833;
  box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.1);
}
div.quest-log section.log-body.classic {
  min-height: calc(100% - 60px);
}
div.quest-log section.log-body .tab {
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1px 1px;
}
div.quest-log section.log-body .tab.active {
  display: grid;
}
div.quest-log section.log-body .tab h1 {
  margin: 0;
}
div.quest-log section.log-body .tab .table {
  overflow: auto;
}
div.quest-log section.log-body .tab .table table {
  margin: 0;
  border: none;
  background: none;
}
div.quest-log section.log-body .tab .table table thead {
  background: none;
  color: #000;
  text-shadow: none;
  border-bottom: none;
}
div.quest-log section.log-body .tab .table table tr {
  height: 30px;
}
div.quest-log section.log-body .tab .table table tr th {
  border-bottom: 1px #666 solid;
}
div.quest-log section.log-body .tab .table table tr th.quest-giver-col {
  width: 120px;
}
div.quest-log section.log-body .tab .table table tr th.actions-col {
  width: 100px;
}
div.quest-log section.log-body .tab .table table tr th.tasks-col {
  width: 60px;
}
div.quest-log section.log-body .tab .table table tr th.sortable {
  cursor: pointer;
}
div.quest-log section.log-body .tab .table table tr td {
  text-align: center;
}
div.quest-log section.log-body .tab .table table tr td.title {
  font-weight: bold;
  cursor: pointer;
}
div.quest-log section.log-body .tab .table table tr td.title small {
  display: block;
  font-style: italic;
  margin-left: 20px;
  font-weight: normal;
}
div.quest-log section.log-body .tab .table table tr td.title.left {
  text-align: left;
}
div.quest-log section.log-body .tab .table table tr td.title.center {
  text-align: center;
}
div.quest-log section.log-body .tab .table table tr td.title:hover {
  text-shadow: 2px 2px 5px rgba(51, 51, 51, 0.4);
}
div.quest-log section.log-body .tab .table table tr td.img {
  cursor: pointer;
}
div.quest-log section.log-body .tab .table table tr td.img img {
  width: 55px;
  height: 55px;
  border: none;
  object-fit: cover;
  border-radius: 4px;
}
div.quest-log section.log-body .tab .table table tr td.actions i.fas {
  cursor: pointer;
  margin-right: 5px;
}
div.quest-log section.log-body .tab .table table tr td.actions i.fas:last-of-type {
  margin-right: 0;
}
div.quest-log section.log-body .tab .table table tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05);
}
div.quest-log footer {
  height: 40px;
  max-height: 40px;
  padding: 4px;
  display: flex;
}

#new-timeline-form .grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 390px auto;
  gap: 1px 1px;
  grid-template-areas: "." "." "footer";
}
#new-timeline-form .grid-container .footer {
  margin-top: 10px;
  grid-area: footer;
  z-index: 100;
}
#new-timeline-form fieldset {
  box-sizing: border-box;
  margin: 0px;
}
#new-timeline-form fieldset.tinymce-fieldset {
  min-height: 240px;
  border: none;
}
#new-timeline-form fieldset.tinymce-fieldset .editor {
  height: 100%;
}
#new-timeline-form fieldset.tinymce-fieldset .editor .editor-content {
  height: 100%;
}

#delete-timeline-form.timelines {
  margin-top: 10px;
  border: none;
  overflow: hidden;
}
#delete-timeline-form.timelines .list {
  overflow-y: scroll;
  height: calc(100% - 35px);
}
#delete-timeline-form.timelines .list .timeline-entry .del-btn {
  cursor: pointer;
}
#delete-timeline-form.timelines .list .timeline-entry .del-btn .fa-times {
  pointer-events: none;
}

#new-event-form .grid-container {
  display: grid;
  grid-template-columns: 50% 50fr;
  grid-template-rows: auto auto 325px auto;
  gap: 1px 1px;
  grid-template-areas: "input1 input2" "input3 input3" "d d" "footer footer";
}
#new-event-form .grid-container .titles {
  grid-area: input3;
}
#new-event-form .grid-container .description {
  grid-area: d;
  min-height: 240px;
  border: none;
}
#new-event-form .grid-container .description .editor {
  height: 100%;
}
#new-event-form .grid-container .description .editor .editor-content {
  height: 100%;
}
#new-event-form .grid-container .footer {
  margin-top: 10px;
  grid-area: footer;
  z-index: 100;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*# sourceMappingURL=init.css.map */
