#new-timeline-form {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 410px auto;
        gap: 1px 1px;
        grid-template-areas: "." "." "footer";
        .footer {
            margin-top: 10px;
            grid-area: footer;
            z-index: 100;
        }
    }
    fieldset {
        box-sizing: border-box;
        margin: 0px;
        &.tinymce-fieldset {
            min-height: 240px;
            border: none;
            .editor {
                height: 100%;
                .editor-content {
                    height: 100%;
                }
            }
        }
    }
}

#delete-timeline-form {
    &.timelines {
        margin-top: 10px;
        border: none;
        overflow: hidden;
        .list {
            overflow-y: scroll;
            height: calc(100% - 35px);
            .timeline-entry {
                .del-btn {
                    cursor: pointer;
                    .fa-times {
                        pointer-events: none;
                    }
                }
            }
        }
    }
}